body {font-family: verdana, sans-serif; font-size: 12pt;}
#container {width: 1000px;}
#header {background-color: #ffa500;}
h1 {margin-bottom: 0px}
#navigation {background-color: #ffd700; margin-bottom: 0px;}
#navigation ul {list-style: none; margin: 0px;}
#navigation ul li {display: inline;}
#content {backgound-color: #eeeeee; width: 100%; float:left;}
#footer {background-color: #ffa500;clear: both;text-align: center;}
#subnav.show {
    background-color: #ffd700;
    display: block;
    margin-top: 0px;
}
#subnav.hide { display: none; }
#subnav ul { list-style: none; margin-top: 0px; }
#subnav ul li {display:inline; width: 60px; margin-top: 0px; padding-top: 3px;}
#subnav ul li a { color: yellow; }