.adjust-right { margin-left: 260px; }

.date { width: 8em; }

.time { width: 5em; }

.control_group {
    display: block;
    clear: left;
    margin-left: 20px;
}

.control-label {
    display: block;
    float: left;
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

div.controls { display: inline; }

.alert {
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #99ccff;
    background-color: #9cf;
    font-weight: bold;
    color: black;
}

.req-hilite {
    color: red;
}