{% extends "template.html" %}
{% block hdrlinks %}
<link rel="stylesheet" type="text/css" href="../../src/ruesoft/src/dev/resources/css/dev_promotion.css" media='screen'>
{% endblock %}
{% block title %}Task{% endblock %}
{% block content %}
    <h2>Hello, {{ name }}!</h2>
    <table>
        {% for row in rows %}
            <tr id="row_{{ loop.index }}">
                {% for column in row %}
                    <td id="column_{{ loop.index }}">{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}