{% extends "template.html" %}
{% block hdrlinks %}
<link rel="stylesheet" type="text/css" href="../../src/ruesoft/src/dev/resources/css/dev_promotion.css" media='screen'>
{% endblock %}
{% block title %}Promotion{% endblock %}
{% block content %}
<form enctype="multipart/form-data" action="promotionb.php" method="POST">
    <div class="alert"><h3>Add Promotion</h3></div>
    <fieldset>
        <div class='control_group'>
            <label class='control-label'><span class='req-hilite'>*</span>Promo Group</label>
            <div class='controls'>
                <select id='form_promoGroups'>
                    <option value='1'>American Express Offers</option>
                    <option value='2'>Citi Offers</option>
                    <option value='3'>AXS Premium</option>
                </select>
                <span>You must select a Promo Group.</span>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'><span class='req-hilite'>*</span>Promo Template</label>
            <div class='controls'>
                <select id='form_promoTemplates'></select>
                <input type='hidden' id='form_hdn_promoTemplateId' name='form[hdn_promoTemplateId]' required='required' />
                <span>You must select a Promo Template</span>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Active</label>
            <div class='controls'>
                <input type='checkbox' id='form_isActive' name='form[isActive]' value='1' checked='checked' />
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'><span class='req-hilite'>*</span>Quantity Status</label>
            <div class='controls'>
                <select id='form_quantityStatus' required='required' class='required'>
                    <option value='1'>Available</option>
                    <option value='99'>Other</option>
                </select>
                <span>You must select a quantity status.</span>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'><span class='req-hilite'>*</span>Promo Name</label>
            <div class='controls'>
                <input type='text' id='form_promoName' name='form[promoName]' required='required' class='required' />
                <span>Promo Name is required.</span>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'><span class='req-hilite'>*</span>Promo Description</label>
            <div class='controls'>
                <textarea id='form_promoDescription' name='form[promoDescription]' required='required' class='required'></textarea>
                <span>Promo Description is required.</span>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Promo Effective Dates</label>
            <div class='controls'>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="hasDatePicker date" id="form_promoStartDate" name="form[promoStartDate]" />
                <input type="text" class="time" id="form_promoStartTime" name="form[promoStartTime]" />
                <select id="promoStartTimeAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <input type="checkbox" id="form_promoCheckEndDateTime"/>
                <input type="text" class="hasDatePicker date" id="form_promoEndDate" name="form[promoEndDate]" />
                <input type="text" class="time" id="form_promoEndTime" name="form[promoEndTime]" />
                <select id="promoEndTimeAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <select id="promoTimeZone">
                    <option value='America/Los_Angeles'>America/Los_Angeles</option>
                    <option value='America/New_York'>America/New_York</option>
                    <option value='America/Atikokan'>America/Atikokan</option>
                </select>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Visible on Sites</label>
            <div class='controls adjust-right'>
                <input type="checkbox" id="form_visibleCheckEndDateTime"/>
                <input type="text" class="hasDatePicker date" id="form_visibleEndDate" name="form[visibleEndDate]" />
                <input type="text" class="time" id="form_visibleEndTime" name="form[visibleEndTime]" />
                <select id="visibleEndTimeAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <select id="visibleTimeZone">
                    <option value='America/Los_Angeles'>America/Los_Angeles</option>
                    <option value='America/New_York'>America/New_York</option>
                    <option value='America/Atikokan'>America/Atikokan</option>
                </select>
            </div>
        </div>
        <div class='control_group'>
            <input type="checkbox" id="form_linkCheckStatDateTime"/>
            <label class='control-label'>Link Effective Dates</label>
            <div class='controls'>
                <input type="text" class="hasDatePicker date" id="form_linkStartDate" name="form[linkStartDate]" />
                <input type="text" class="time" id="form_linkStartTime" name="form[linkStartTime]" />
                <select id="linkStartTimeAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <input type="checkbox" id="form_linkCheckEndDateTime"/>
                <input type="text" class="hasDatePicker date" id="form_linkEndDate" name="form[linkEndDate]" />
                <input type="text" class="time" id="form_linkEndTime" name="form[linkEndTime]" />
                <select id="linkEndTimeAMPM">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <select id="linkTimeZone">
                    <option value='America/Los_Angeles'>America/Los_Angeles</option>
                    <option value='America/New_York'>America/New_York</option>
                    <option value='America/Atikokan'>America/Atikokan</option>
                </select>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Call to Action Link</label>
            <div class='controls'>
                <input type="text" id="form_ctaLink" name="form[ctaLink]"/>
                <input type="button" id="form_testLink" value="Test Link" />
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Price Range</label>
            <div class='controls'>
                Low: <input type="text" id="form_priceLow" />
                High: <input type="text" id="form_priceHigh" />
                <select id="form_currency">
                    <option value="USD">U.S. Dollar</option>
                    <option value="EURO">Euro</option>
                    <option value="CND">Canadian Dollar</option>
                    <option value="UK">Pound U.K.</option>
                </select>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Logo Image</label>
            <div class='controls'>
                <input id="form_logoImage" name="form[logoImage]" type="file" />
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Promo is Private</label>
            <div class='controls'>
                <label class="checkbox">
                    <input type="checkbox" id='form_isPrivate' name='form[isPrivate]' value='1' />
								<span>This promo is not displayed on any default listgs (i.e. Home Page Feartured Promos) or
									as part of a web feed. This promo will only appear on custom landin pages, or a direct link to the promotion.</span>
                </label>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>Display on Second Event</label>
            <div class='controls'>
                <label class="checkbox">
                    <input type="checkbox" id='form_displaySecondEvent' name='form[displaySecondEvent]' value='1' />
								<span>This promo can not be displayed alongside artist promos on the primary event. Use primarily for
											Live Access Now.
								</span>
                </label>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'>&nbsp;</label>
            <div class='controls'>
                <label class="checkbox">
                    <input type="checkbox" id='form_linkToEvent' name='form[linkToEvent]' value='1' />
								<span>
									Link to other events that share the same or earlier Sales Dates (Best for Season Tickets, Team Pick a Plan, etc.)
								</span>
            </div>
        </div>
        <div class='control_group'>
            <label class='control-label'></label>
            <div class='controls'></div>
        </div>
    </fieldset>
    <input type='submit' value='Submit'/>
    <input type='button' onclick='javascipt:void(0);' value='Cancel' />
</form>
{% endblock %}