{% extends "layout.html" %}
{% block title %}RueSoft.biz{% endblock %}
{% block content %}
<p><strong>Reset My Password</strong></p>
<p>If you have lost your password, you may enter your email
    address below and a new password will be sent to your email address.</p>
<form name="form1" action="lostpw.php" method="post">
    <table id="lostpw" cellspacing="0">
        <tr>
            <td>Your Email Address</td>
            <td><input name="email_address" type="text" id="email_address"/></td>
            <td>
                <input name="req" type="hidden" id="req" value="recover"/>
                <input name="Go!" type="submit" id="Go!" value="Go!"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
